body{
    background-color:black;
}
h1{
    margin:100px 50px;
    text-align: center;
    font-family: 'Cursive';
    color:blue;
}
.dice1{
    color:blue;
    height:200px;
    width:200px;
    margin-left: 500px;
    display:inline-block;
}
.dice2{
    color:blue;
    height:200px;
    width:200px;
    display:inline-block;
    margin-left:80px;
    padding-top:50px;
}
h2{
    color:rgb(0, 255, 13);
    font-weight: bold;
    font-size: 52px;
    text-align: center;
    padding:50px;
}
